/* ===== RESET GERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

/* ===== BASE (MOBILE FIRST) ===== */

.mainContainer {
  width: 100%;
  /*background-color: aqua;*/
}

.containerItems {
  width: 100%;
  /*background-color: yellow;*/
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/*======= Aba lateral escondida por padrao ======*/

.sideMenu {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.menuItem {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: left;
  padding: 0.5rem 0;
  cursor: pointer;
}

/* Quando o menu esta activo */

.sideMenu.active {
  right: 0;
}

/* fundo escuro por tras da aba */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s easy-in-out;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.logo,
.mobileSubMenu {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /**background-color: aqua;*/
}

.logoImage,
.mobileSubMenuImage {
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 87%;
  background-position: center;
}

.logoImage {
  background-image: url(assets/images/logo.svg);
}

.mobileSubMenuImage {
  background-image: url(assets/images/icon-menu.svg);
}

.bigScreen {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /*background-color: rgb(3, 77, 73);*/
}

.bigScreenInnerContainerAndImage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bigScreenImage {
  width: 100%;
  height: fit-content;
}

.imagem {
  background-image: url(assets/images/image-web-3-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 320px;
}

.HeaderAndTextAndButton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.innerContainerHeader,
.innerContainerTextAndButton {
  padding: 0.4rem;
}

.innerContainerTextAndButton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.innerContainerHeader {
  width: 75%;
  padding-bottom: 0;
}

.bigScreenText {
  font-size: 15px;
  font-weight: 400;
  color: hsl(233, 8%, 79%);
}

.readMoreBtn {
  width: fit-content;
}

.submitBtn {
  background-color: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  letter-spacing: 0.2em;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

.bigScreenBlueSubMenu {
  background-color: hsl(240, 100%, 5%);
  padding: 1rem;
  color: white;
  margin-top: 1.3rem;
}

.newHeader {
  color: hsl(35, 77%, 62%);
}

.title h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}

.item {
  padding: 2.2em 2%; /*espacamento interno vertical e horizontal*/
  border-bottom: 2px solid hsl(236, 13%, 42%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*padding-top: 1rem;*/
  /*padding-bottom: 0;*/
}

.text {
  color: hsl(236, 13%, 42%);
  line-height: 1.7rem;
}

.item:last-child {
  border-bottom: none;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /*background-color: rgb(119, 0, 255);*/
}

.topic1,
.topic2,
.topic3 {
  display: flex;
  /*flex-direction: row;*/
  align-items: flex-start;
  gap: 1rem;
  /*background-color: aqua;*/
}

.sideImage1,
.sideImage2,
.sideImage3 {
  width: 100px;
  height: 150px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

.sideImage1 {
  background-image: url(assets/images/image-retro-pcs.jpg);
}

.sideImage2 {
  background-image: url(assets/images/image-top-laptops.jpg);
}

.sideImage3 {
  background-image: url(assets/images/image-gaming-growth.jpg);
}

.enumerator {
  color: hsl(5, 85%, 63%);
  font-size: 1.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  /*background-color: aqua;*/
  gap: 0.5rem;
}

.title_subContainer {
  color: hsl(240, 100%, 5%);
  font-weight: 700;
  font-size: 1.1rem;
}

.text_subContainer {
  color: hsl(233, 8%, 79%);
  font-size: 1rem;
}

/*===== TABLET (768px+) =====*/

@media (min-width: 768px) {
  .moreInfo {
    padding: 1rem;
  }

  .logo,
  .mobileSubMenu {
    width: 10%;
  }

  .logoImage,
  .mobileSubMenuImage {
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .bigScreen {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    /*background-color: aqua;*/
  }

  .bigScreenInnerContainerAndImage {
    width: 100%;
  }

  .imagem {
    height: 350px;
  }

  .HeaderAndTextAndButton {
    flex-direction: column;
  }

  .innerContainerHeader {
    width: 80%;
    font-weight: bold;
    font-size: 1.8rem;
    /*background-color: aqua;*/
  }

  .innerContainerTextAndButton {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .bigScreenText {
    font-size: 1.3rem;
    font-weight: 400;
    width: auto;
    padding-left: 0.5rem;
    line-height: 1.8rem;
    color: hsl(233, 8%, 79%);
  }

  .readMoreBtn {
    height: fit-content;
    width: fit-content;
  }

  .submitBtn {
    width: auto;
    height: auto;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .newHeader {
    margin-left: 1rem;
  }

  .bigScreenBlueSubMenu {
    width: auto;
    padding: 1.5rem;
    height: fit-content;
    align-self: stretch;
    margin-top: -1rem; /* Adjusted for better alignment */
  }

  .topic1,
  .topic2,
  .topic3 {
    width: 100%;
    gap: 0.5rem;
    height: 12rem;
    /*background-color: aqua;*/
  }

  .sideImage1,
  .sideImage2,
  .sideImage3 {
    width: 130px;
    background-size: cover;
    background-position: center;
    height: 200px; /* Adjusted for better visibility */
  }

  .sideImage1 {
    background-image: url(assets/images/image-retro-pcs.jpg);
  }

  .sideImage2 {
    background-image: url(assets/images/image-top-laptops.jpg);
  }

  .sideImage3 {
    background-image: url(assets/images/image-gaming-growth.jpg);
  }

  .details {
    justify-content: space-between;
    padding: 2rem 0 2rem 1.5rem;
    gap: 0.5rem;
  }

  .enumerator {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .title_subContainer {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .text_subContainer {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .subContainer {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}

/* ===== DESKTOP (1440px+) ===== */

@media (min-width: 1440px) {
  .moreInfo {
    padding: 2rem;
  }

  .logo,
  .mobileSubMenu {
    width: 8%;
  }

  .logoImage,
  .mobileSubMenuImage {
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .bigScreen {
    flex-direction: row;
    gap: 2rem;
    /*background-color: aqua;*/
    align-items: stretch;
  }

  .bigScreenInnerContainerAndImage {
    width: 70%;
  }

  .imagem {
    background-image: url(assets/images/image-web-3-desktop.jpg);
    height: 380px;
  }

  .HeaderAndTextAndButton {
    flex-direction: row;
    justify-content: space-between;
  }

  .innerContainerHeader {
    width: 37%;
    /*background-color: aqua;*/
    font-weight: 800;
    font-size: 2rem;
  }

  .innerContainerTextAndButton {
    width: 53%;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
  }

  .bigScreenText {
    font-size: 1.2rem;
    font-weight: 700;
    width: 95%;
    line-height: 2rem;
    color: hsl(233, 8%, 79%);
  }

  .readMoreBtn {
    height: 30%;
    width: 47%;
  }

  .submitBtn {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .bigScreenBlueSubMenu {
    width: 30%;
    padding: 2rem;
    height: auto;
    align-self: stretch;
    margin-top: 0;
  }

  .text {
    font-size: 1.2rem;
  }

  .subContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.9rem;
    /*background-color: aqua;*/
    height: fit-content;
  }

  .topic1,
  .topic2,
  .topic3 {
    display: flex;
    gap: 0.3rem;
    /*width: 30%;*/
    align-items: center;
    /*background-color: khaki;*/
  }

  .details {
    height: 225px; /* ou o mesmo valor de sideImage */
    padding: 0 1rem 1rem 0.5rem;
    justify-content: space-between;
    overflow: hidden; /* opcional, se quiser evitar que o conteúdo ultrapasse */
  }

  .enumerator {
    font-size: 2rem;
    font-weight: 700;
  }

  .title_subContainer {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .text_subContainer {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .sideImage1,
  .sideImage2,
  .sideImage3 {
    height: 225px;
    width: 170px;
  }
}
